{% extends "index.html" %}
{% load static %}

{% block title %}Создание{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'main/css/create.css' %}">{% endblock %}

{% block content %}
<h1>Процесс мультипликации </h1>
<div class="content-container">
    <div class="text-image-container">
        <div class="text-block">
            Волшебство создания анимационного фильма зарождается с искры творческой мысли, которая превращается в первоначальные эскизы. Эти зародыши идей ложатся в основу всего художественного процесса. Далее, сценарий оживляет эти идеи, превращая их в каркас будущего произведения. Сторибординг дает этим идеям форму, раскладывая сюжет на отдельные сцены и моменты. После этого дизайнеры воплощают в жизнь образы персонажей и мира, в котором они обитают. Аниматика соединяет сторибординг и анимацию, давая представление о том, каким будет конечный результат.
        </div>
        <div class="image-container">
            <img src="{% static 'main/images/1-6.jpg' %}" alt="Image">
        </div>
    </div>
    <div class="content-container">
        <div class="text-image-container">
            <div class="image-container-2">
                <img src="{% static 'main/images/2.jpg' %}" alt="Image">
            </div>
            <div class="text-block-2">
                Анимация оживляет статичные кадры, наполняя их движением и выражением чувств. Голосовая актерская игра преображает эти изображения, наделяя персонажей уникальным голосом и индивидуальностью. Музыкальное сопровождение и звуковые эффекты углубляют восприятие, обогащая мир анимации и придавая ему реалистичность. Работа по монтажу и цветокоррекции синтезирует все компоненты в единое целое, доводя каждую деталь до идеала. Этот процесс сочетает в себе как техническую, так и творческую составляющие, и мы с радостью делимся этим волшебством с посетителями Animix. 
            </div>
        </div>
        
{% endblock %}